.popup-container {
  padding: 16px;
  font-family: sans-serif;
  background-color: #FFC88B;
  border-radius: 16px;
  min-width: 300px;
  min-height: 200px;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.popup-header {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
  justify-content: center;
}

.popup-logo {
  width: 32px;
  height: 32px;
  object-fit: contain;
  display: block;
}

.popup-title {
  font-size: 20px;
  margin: 0;
}

.options-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 24px;
}

.option-label {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.option-text {
  font-size: 16px;
}

.toggle {
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding: 2px 8px;
  width: 55px;
  height: 24px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle.active {
  background-color: #4CAF50;
}

.toggle.inactive {
  background-color: #ccc;
}

.toggle-text {
  color: white;
  font-size: 12px;
  font-weight: bold;
  margin-right: auto;
}

.toggle-button {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  transition: 0.3s;
}

.toggle.active .toggle-button {
  right: 2px;
}

.toggle.inactive .toggle-button {
  left: 2px;
} 